body {
    background-color: blanchedalmond;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    padding: 2rem;
}

.book-item {
    border: solid 1px black;
    padding: 1.5rem;
    margin: 1rem;
    background-color: white;
}